mixin shape(size='2rem', variation=50, animations=['shaking', 'rotating'], colors=['tertiary', 'amber'])
  div.morphing-shape(
    style={
      'position': 'relative',
      'height': size,
      'width': size,
    }
  )
    div.goo(
      style={
        'position': 'absolute',
        'filter': 'url(#fancy-goo)',
        'width': '100%',
        'height': '100%',
      }
    )
      -
        var randomDelay = () => `-${Math.random() * 25}s`;
        var any = (arr) => arr[Math.floor(Math.random() * arr.length)];
        var colorName = (i) => colors[i % colors.length];
        var animationName = () => any(animations);
        var randomSize = () => Math.random() * (100 - variation) + variation;
        var count = 4;
      
      while count > 0
        -
          var height = randomSize();
          var width = randomSize();
          var topOffset = (100 - height) / 2;
          var leftOffset = (100 - width) / 2;

        .shape(
          style={
            'position': 'absolute',
            'animation-duration': '25s',
            'animation-iteration-count': 'infinite',
            'animation-direction': 'alternate',
            'animation-delay': randomDelay(),
            'animation-name': animationName(),
            'height': `${height}%`,
            'width': `${width}%`,
            'top': `${topOffset}%`,
            'left': `${leftOffset}%`,
            'background': `var(--${colorName(count)})`,
            'border-radius': `${randomSize()}%`,
          }
        )
        - count--

    div(
      flex-row
      flex-center
      style={
        'position': 'absolute',
        'width': '100%',
        'height': '100%',
      }
    )
      block