mixin shape(size='2rem', variation=50, animations=['shaking', 'rotating'], colors=['tertiary', 'amber'], borderRadius='100rem', duration=25)
  -
    var [width, height] = size.split(' ');
    if (!height) {
      height = width;
    }

  div.morphing-shape(
    style={
      'position': 'relative',
      'height': height,
      'width': width,
    }
  )
    div.goo(
      style={
        'position': 'absolute',
        'filter': 'url(#fancy-goo)',
        'width': '100%',
        'height': '100%',
      }
    )
      -
        var randomDelay = () => `-${Math.random() * duration}s`;
        var any = (arr) => arr[Math.floor(Math.random() * arr.length)];
        var colorName = (i) => colors[i % colors.length];
        var animationName = () => any(animations);
        var randomSize = () => Math.random() * (100 - variation) + variation;
        var count = 4;
      
      while count > 0
        -
          var height = randomSize();
          var width = randomSize();
          var topOffset = (100 - height) / 2;
          var leftOffset = (100 - width) / 2;
          var background = colorName(count);

        .shape(
          style={
            'position': 'absolute',
            'animation-duration': `${duration}s`,
            'animation-iteration-count': 'infinite',
            'animation-direction': 'alternate',
            'animation-delay': randomDelay(),
            'animation-name': animationName(),
            'height': `${height}%`,
            'width': `${width}%`,
            'top': `${topOffset}%`,
            'left': `${leftOffset}%`,
            'background': background.startsWith('--') ? `var(${background})` : background,
            'border-radius': borderRadius,
          }
        )
        - count--

    div(
      flex-row
      flex-center
      style={
        'position': 'absolute',
        'width': '100%',
        'height': '100%',
      }
    )
      block